{% extends 'orders/base.html' %}

{% block title %}
    Orders
{% endblock %}

{% block body %}

  <h2>Order Form</h2>

  <form method="post" id="orderForm" data-meal_type-url="{% url 'ajax_load_meal_type' %}" data-size-url="{% url 'ajax_load_size' %}" 
   data-meal_addition-url="{% url 'ajax_load_meal_addition' %}" novalidate>
    {% csrf_token %}
    <table>
      {{ form.as_table }}
    </table>
    <button type="submit">Save</button>
  </form>

  {% if menu %}
    <table class="table table-bordered table-dark">
      <thead>
        <tr>
          <th scope="row" colspan="1">Menu</th>
        </tr>
      </thead>
      <tbody>
        {% for key in menu %}
          <tr>
            <th rowspan="2">{{ key }}</th>
            <th colspan="3">Price</th>
          </tr>
            {% if sizes %}
              <tr>
                {% for key in sizes %}
                  <th>{{ key }}</th>
                {% endfor %}
              </tr>
            {% endif %}
          </tr>
          {% for item in menu|get_item:key %}
            <tr>
              <td scope="row">{{ item }}</td>
            </tr>
          {% endfor %}
        {% endfor %}
      </tbody>
    </table>
  {% endif %}

  {% if prices %}
    {% for key in prices %}
      <p>{{ prices|get_item:key }}</p>
      {% for item in prices|get_item:key %}
        <p>{{ item }}</p>
      {% endfor %}
    {% endfor %}
  {% endif %}


{% endblock %}