{% extends 'orders/base.html' %}
{% block content %}
    <div class="content-section row">
        <table class="table">
            <tr>
                <td><h4>Order Summary</h4></td>
            </tr>
            <tr>
                <td>
                    {% for item in order.get_cart_items %}
                        <tr>
                            <td>{{ item.item.size }} {{ item.item.meal_type }}</td>
                            <td>${{ item.item.price }}</td>
                        </tr>
                    {% endfor %}
                </td>
            </tr>
        </table>
        <a href="{% url 'shopping_cart:update_records' %}" class="btn btn-warning" style="width: 100%;">Checkout with a credit card</a>
{% endblock content %}

{% block scripts %}
{% endblock scripts %}